.filter {
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

  &__wrapper {
    display: inline-block;
    min-width: 100px;
    height: 25px;
    text-align: center;
    background-color: #AAA;
    margin-right: 1px;
    cursor: pointer;
    padding: 5px;
    line-height: 25px;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      background-color: #CCC;
    }

    &:hover {
      color:white;
      background-color: #000;
    }
  }
}