.gallery {
  margin: 20px;
  padding: 20px;
  display: flex;

  &__control {
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    &__group {
      margin-bottom: 2px;
    }

    &--sort {

    }

    &--filter-tag {

    }

    &--filter-date {

    }
  }

  &-button {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    background-color: #AAA;
    margin-right: 1px;
    cursor: pointer;
    line-height: 30px;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      background-color: #CCC;
    }

    &:hover {
      color: white;
      background-color: #000;
    }
  }

  &__item {
    height: 150px;
    width: 100px;

    background-color: #EEE;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;

    &__data {
      display: none;
    }

    &__preview {
      width: 100px;
      height: 100px;
      background-color: #AAA;

      &__link {
        display: flex;
      }

      &__image {
        max-height: 100px;
        max-width: 100px;
        margin: auto;
      }
    }

    &__info {
      padding: 5px;
    }
  }
}