.body {
  background-color: #DDD;
  font-family: 'Roboto', sans-serif;

  &__wrapper {
    min-width: 320px;
    max-width: 4000px;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    height: 100%;
  }
}