.idea

# server
server/node
server/node_modules
server/krpano.js*
server/**/*_preview.png
server/**/_preview(*.png
server/**/.preview(*.png

# client
client/node
client/node_modules
client/build
client/yarn-error.log
