.grid {
  width: 80%;
  background-color: #DDD;

  .grid-item {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #AAA;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    a {
      .preview {
        max-height: 100px;
        max-width: 100px;
      }
    }
  }
}