.grid {
  width: 80%;
  background-color: #DDD;
  margin:auto;

  .grid-item {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #AAA;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    a {
      .preview {
        max-height: 100px;
        max-width: 100px;
      }
    }
  }
}

body:after {
  content: "";
  display: none;
  position: fixed; /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}

body.popup-open:after {
  display: block;
  overflow: hidden; /*prevents bg content from scrolling when popup shown*/
}

.overlay-popup {
  display: none;
  padding: 10px;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */

  &.popup-open {
    display: block;
    overflow: hidden; /*prevents bg content from scrolling when popup shown*/
  }
}
