---
title: Testpage
headerImg: head2
---
{{#extend "template" title=page.title }}
    {{#content "html"}}
        <div class="header">
            {{> header-image img=page.headerImg}}
        </div>

        <div class="filter"></div>

        <div class="gallery"></div>

        <div class="overlay-popup">
            <div id="pano-wrapper"></div>
        </div>
    {{/content}}
{{/extend}}