---
title: Hallo!
---
{{#extend "template" title=page.title }}
    {{#content "html"}}
        <h2>Filter</h2>
        <div id="filters" class="filter-button-group">
            <button data-filter="*">show all</button>
        </div>

        <div class="grid"></div>

        <div class="overlay-popup">
            <div id="pano-wrapper"></div>
        </div>
    {{/content}}
{{/extend}}