<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    {{> css}}
</head>
<body>
    {{#block "html"}}{{/block}}
    {{> js}}

    {{#block "js"}}{{/block}}
</body>
</html>