<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    {{> css}}
</head>
<body class="body">
<div class="body__wrapper">
    {{#block "html"}}{{/block}}
    {{> js}}

    {{#block "js"}}{{/block}}
</div>
</body>
</html>